---
import BaseLayout from "../layouts/BaseLayout.astro";

import LinkedIn from "../components/icons/LinkedIn.astro";
import GitHub from "../components/icons/GitHub.astro";
import OpenInNewTab from "../components/icons/OpenInNewTab.astro";
import Link from "../components/icons/Link.astro";

import Bookshelf from "../components/Bookshelf.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Posts from "../components/Posts.astro";

/* Extracts the experience data from the json file in src/assets */
import experienceData from "../assets/awwab-mahdi_20260303_1734.json";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<style>
		section {
			padding: 10% 0 10% 0;
			margin: 5% 0 5% 0;
		}
		#icon-container {
			display: flex;
			gap: 2rem;
			align-items: center;
		}
		#about-content {
			display: flex;
			gap: 4rem;
			align-items: flex-start;
		}
		#hero {
			flex: 1;
		}
		#hike-image {
			width: 50%;
			object-fit: cover;
			border-radius: var(--global-radius);
			transform: rotate(3deg);
		}
		#contact {
			border: var(--global-border);
			padding: 5% 10% 10% 10%;
			width: fit-content;
			margin: 0 auto;
			margin-bottom: 10%;
			border-radius: calc(var(--global-radius) * 2);
		}

		/* Mobile Responsiveness */
		@media (max-width: 700px) {
			section {
				padding: 8% 0 8% 0;
				margin: 3% 0 3% 0;
			}
			#icon-container {
				gap: 1.5rem;
			}
			#about-content {
				flex-direction: column;
				gap: 2rem;
				align-items: stretch;
			}
			#hero {
				flex: none;
			}
			#hike-image {
				width: 45%;
			}
		}

		@media (max-width: 480px) {
			section {
				padding: 6% 0 6% 0;
				margin: 2% 0 2% 0;
			}
			h1 {
				font-size: 2rem;
			}
			h3 {
				font-size: 1.5rem;
			}
			p li ul {
				font-size: 1.2rem;
			}
			#icon-container {
				margin-top: 5%;
				gap: 1rem;
			}
			#contact {
				padding: 8% 8% 8% 8%;
			}
			Footer {
				font-size: 0.1rem;
			}
		}
	</style>

	<section id="about">
		<div id="about-content">
			<div id="hero">
				<h3>Hello there!</h3>
				<h1>I'm Awwab Mahdi.</h1>
				<p>
					Growing software developer and researcher, based in Ottawa,
					Canada 🍁.
				</p>
				<p>
					If I'm not reading, you can catch me hiking, baking banana
					bread, or exploring new technologies.
				</p>
				<p>
					Feel free to check out my bookshelf, explore my projects, or
					get in touch with me through my contact information. Thanks
					for visiting!
				</p>
				<div id="icon-container">
					<a
						href="http://www.linkedin.com/in/AwwabM"
						target="_blank"
						rel="noopener noreferrer"
					>
						<LinkedIn />
					</a>
					<a
						href="http://github.com/obliviance"
						target="_blank"
						rel="noopener noreferrer"
					>
						<GitHub />
					</a>
				</div>
			</div>
			<img id="hike-image" src="src/assets/hike.jpg" />
		</div>
		<Bookshelf books={experienceData.sections.books.items} />
	</section>

	<section id="experience">
		<h1>Experience</h1>
		<Skills skills={experienceData.sections.skills.items} />
		<Experience experiences={experienceData.sections.experience.items} />
		<Education education={experienceData.sections.education.items[0]} />
		<p>
			You can also view my full <a
				href="/awwab-mahdi-resume.pdf"
				target="_blank"
				rel="noopener noreferrer">Resume</a
			><Link /> here.
		</p>
	</section>

	<section id="portfolio">
		<h1>Portfolio</h1>
		<Projects projects={experienceData.sections.projects.items} />
		<Posts />
	</section>

	<section id="contact">
		<h1 style="text-align: center;">Contact</h1>
		<p style="text-align: center;">Get in touch.</p>
		<div
			style="align-items: center; display: flex; gap: 2rem; justify-content: center;"
		>
			<a href="mailto:awwab.mahdi@gmail.com">Email</a>
			<a
				href="http://www.linkedin.com/in/AwwabM"
				target="_blank"
				rel="noopener noreferrer">LinkedIn</a
			>
			<a
				href="http://github.com/obliviance"
				target="_blank"
				rel="noopener noreferrer">GitHub</a
			>
		</div>
	</section>
</BaseLayout>
